.flexControlRow {
  span[class="filter-label"] {
    min-width: 65px;
  }

  div[class~="filter-select-h"] {
    min-width: 220px;
    max-width: 400px;
  }

  div[class~="filter-select-v"] {
    flex-grow: 1;
  }
}
