.flexControlRow {
  span[class="filter-label"] {
    min-width: 58px;
    text-align: end;
  }

  div[class~="filter-select-h"] {
    width: 210px;
  }

  div[class~="filter-select-v"] {
    flex-grow: 1;
  }
}
