.collapseMessageFilterBase {
  div[class~="ant-collapse-header"] {
    align-items: center !important;
  }
}

.collapseMessageFilterH {
  @extend .collapseMessageFilterBase;
  width: calc(100% - 340px);
}

.collapseMessageFilterV {
  @extend .collapseMessageFilterBase;
  width: 100%;
}

.btnQuery {
  width: 150px;
}
